




# bower dir
# build dir
# release dir
*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.seed
/.emacs.desktop
/.emacs.desktop.lock
/master
/scratch
build/
dest/
lib-cov
libs/
logs
node_modules/
npm-debug.log
pids
results
